@{
    ViewBag.Title = "Rate your Hotel";
   
}

<h2>@ViewBag.Message </h2>

@Html.ActionLink("ChocolateDigestive", "RateHotel", new {Rating="1", HotelId=@ViewBag.Hotel.Id }, new { @class = "digestive" })
@Html.ActionLink("Cookie", "RateHotel", new {Rating="2", HotelId=@ViewBag.Hotel.Id }, new { @class = "cookie" })
@Html.ActionLink("JammyBiscuit", "RateHotel", new {Rating="3", HotelId=@ViewBag.Hotel.Id }, new { @class = "jammyBiscuit" })
@Html.ActionLink("Shortbread", "RateHotel", new {Rating="4", HotelId=@ViewBag.Hotel.Id }, new { @class = "shortbread" })
@Html.ActionLink("Bourbon", "RateHotel", new {Rating="5", HotelId=@ViewBag.Hotel.Id }, new { @class = "bourbon" })
@Html.ActionLink("FigRoll", "RateHotel", new {Rating="6", HotelId=@ViewBag.Hotel.Id }, new { @class = "figRoll" })
@Html.ActionLink("PinkWafer", "RateHotel", new {Rating="7", HotelId=@ViewBag.Hotel.Id }, new { @class = "pinkWafer" })
