@{
    ViewBag.Title = "Rate your Hotel";
   
}
<h2 >@ViewBag.Message </h2>

@Html.ActionLink("1", "RateHotel", new {Rating="1", HotelId=@ViewBag.Hotel.Id }, new { @class = "biscuitImage image1" })
<br />
@Html.ActionLink("2", "RateHotel", new {Rating="2", HotelId=@ViewBag.Hotel.Id }, new { @class = "biscuitImage image2" })
<br />
@Html.ActionLink("3", "RateHotel", new {Rating="3", HotelId=@ViewBag.Hotel.Id }, new { @class = "biscuitImage image3" })
<br />
@Html.ActionLink("4", "RateHotel", new {Rating="4", HotelId=@ViewBag.Hotel.Id }, new { @class = "biscuitImage image4" })
<br />
@Html.ActionLink("5", "RateHotel", new {Rating="5", HotelId=@ViewBag.Hotel.Id }, new { @class = "biscuitImage image5" })
<br />
@Html.ActionLink("6", "RateHotel", new {Rating="6", HotelId=@ViewBag.Hotel.Id }, new { @class = "biscuitImage image6" })
<br />
@Html.ActionLink("7", "RateHotel", new {Rating="7", HotelId=@ViewBag.Hotel.Id }, new { @class = "biscuitImage image7" })
